@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
}

@layer utilities {
  .font-montserrat {
    font-family: 'Montserrat', sans-serif;
  }
  .xsm {
    @media (width >= 20rem /* 640px */) {
        display: none;
    }
  }
}



@keyframes right {
  from {
    transform: translateX(-50px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

.animate-right {
  animation: right 1.5s ease-out forwards;
}

.animate-fade-in {
  animation: fade 3s ease-out forwards;
}